.leaflet-popup-content-wrapper {
    border: 4px solid #0a2463; /* Gray border */
    border-radius: 10px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    width: auto;
    overflow: auto;
    overflow-wrap: break-word;
}

.leaflet-popup-tip {
    border: 2px solid #0a2463; /* Border for the small popup arrow */
}

.custom-icon {
    transition: filter 0.3s ease, transform 0.2s ease;
}

.custom-icon:hover div {
    filter: brightness(1.2);
}